.footer {
    margin-top: 80px;
    background-color: var(--background-quote);
    padding: 20px;
    text-align: center;
}

.footer a {
    text-decoration: underline;
    color: var( --btn-color);
}